/Exercicios em casa/Pet e Dono/Pet_e_dono/target/
/Lista de Exercicios 3/LigacaoTelefonica/target/
/Lista de Exercicios 3/Shopping/target/
/Lista de Exercicios 3/Faculdade/target/
/Revisão Prova 1/Sistema_Biblioteca_Digital/target/
/Revisão Prova 1/Sistema_Restaurante/target/
/Unidade 2/Lista de Exercicios/Ex1/SistemaBR101/target/
